/*Page-wide styles*/
body
{
    background-color: black;
}

.card_container
{
    /*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

/*Card styles*/
.info_card
{
    width: 10rem;
    height: 10rem;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    

    background-color: grey;


}

/*Text styles*/