Individual devices will have different components, in different configurations, including missing some entirely.
The system needs to handle this changing list gracefully, handling each as its own individual item.

Each system could present the following items to be displayed:
- NAME - system name.
- CPU - name, load, temp.
- GPU - name, load, temp.
- RAM - size, load.
- DRIVE - size, used size.
- BATTERY - percentage, charging.
